* {
  border: 0px none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

html {
  width: 4358.26772px;
  height: 2811.02362px;
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

.container {
  width: 4358.26772px;
}

#back {
  width: 484.25197px;
  max-width: 484.25197px;
  height: 2811.02362px;
}

#back {
  background-color: rgba(0, 0, 0, 0.8);
}

#back-text {
  position: absolute;
  top: 0;
  width: 2811.02362px;
  height: 484.25197px;
  margin: 1163.38583px 773.62205px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom bottom;
  font-size: 193.70079px;
  color: #fff;
  white-space: nowrap;
}

.title {
  float: right;
  padding-right: 100px;
  line-height: 484.25197px;
}

.author {
  float: left;
  padding-left: 100px;
  line-height: 484.25197px;
}

#page-back {
  width: 1937.00787px;
  height: 2811.02362px;
  vertical-align: middle;
}

#page-front {
  width: 1937.00787px;
  height: 2811.02362px;
  vertical-align: middle;
}

.stripe {
  width: 100%;
  height: 440px;
  background-color: rgba(0, 157, 255, 0.9);
  text-align: center;
  border-top: 10px solid rgba(255, 255, 255, 0.95);
  border-bottom: 10px solid rgba(255, 255, 255, 0.95);
}
.stripe #cover_stripe {
  width: 1937.00787px;
  color: #ffffff;
  font-size: 35px;
  white-space: pre;
  margin: 0px;
  word-wrap: break-line;
}

#title {
  padding-top: 40px;
  font-size: 95px;
  color: #ffffff;
  white-space: pre;
  text-align: center;
}

#author {
  padding-top: 40px;
  font-size: 65px;
  color: #ffffff;
  text-align: center;
}

#page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*img {
    z-index: -1;
}
#title-back {
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    font-size: 25px;
    display:block;
    white-space:nowrap;
    top: -25px;
}*/
#bg {
  background-repeat: no-repeat;
  background-size: cover;
}

#isbn {
  position: absolute;
  max-height: 390px;
  max-width: 800px;
  top: 2361.02362px;
  left: 1042.00787px;
}
