@import "style/_tools.scss";

@import "style/_coverConfig.scss";

$width: mm-to-px(266);
$height: mm-to-px(196);
$back: mm-to-px(10);
$begin: mm-to-px(128);
$padding: mm-to-px(3);

@import "style/_cover.scss";
